html,
body{
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
    background: white;
    padding: 0;
    margin: 0 0;
    width: 100%;
    height: 100%;
}

.container{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    background-color: #FF4364;
}

.container div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 3px black solid;
    margin: 5px;
    position: relative;
    background-color: white;
    transition: 1s all;
}

.item1{
    grid-area: 1 / 1 / 2 / span 2;
}

.item2{
    grid-area: 1 / 3 / span 2 / 4;
}

.item4{
    grid-area: 2 / 1 / span 2 / 2;
}

.item7{
    grid-area: 3 / 2 / 4/ span 3;
}

.container div:hover{
    background-color: #A9A9A9;
    transition: 1s all;
}