body{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
    background: #FFFFFF;
}
div input{
    margin: 2% 0;
    border-radius: 5px;
    border-color: #FF4364;
}

div input:hover{
    background: aliceblue;
}

.blockPage{
    display: flex;
    width: 100%;
    height: calc(95vh - 2em);
    background: linear-gradient(315deg, rgb(255, 67, 100), rgb(0, 0, 0) 60%, rgb(240, 248, 255));
}

.blockImg::-webkit-scrollbar {
    display: none;
}

.blockImg{
    width: auto;
    overflow-y: scroll;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.blockImg img{
    margin: 1rem;
    border-radius: 10px;
}

.FormContain{
    width: 22rem;
    margin: 0 2rem;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;

    background: rgba( 255, 67, 100, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 100px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.divForm{
    width: 26rem;
    height: calc(95vh - 2em);
    display: flex;
    justify-content: center;
    align-items: center;
}

.FormContain::after{
    content: "";
    z-index: -1;
    position: absolute;
    top: -10%;
    left: -10%;
    width: 76px;
    height: 76px;
    border-radius: 20px;
    background: rgba( 255, 67, 100, 0.25);
}

.FormContain::before{
    content: "";
    z-index: 1;
    position: absolute;
    bottom:-10%;
    right: 10%;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background: rgba( 255, 67, 100, 0.75 );
}

.FormContain h3{
    display: flex;
    margin: 0;
    width: 90%;
    height: 10%;
    align-items: center;
    justify-content: flex-start;
}

.divInput{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 70%;
    width: 90%;
}

.divInput input{
    border-radius: 20px;
    width: 100%;
    background-color: white;
    height: 2.5rem;
    color: black;

    box-sizing: border-box;
}

.divButton{
    width: 90%;

    display: flex;
    justify-content: center;
}

.divButton button{
    margin-top: 0.5rem;
    width: 70%;
    border-radius: 20px;
    font-size: 16px;
    padding: 0.5rem;
}

.FormContain:hover::after{
    animation: block_anim_2 infinite 4s alternate;
}

.FormContain:hover::before{
    animation: block_anim_3 infinite 4s alternate;
}

.SingIN{
    width: 100%;
    font-size: 16px;
    font-weight: 700;

    display: flex;
    justify-content: center;
    margin-top: 0.7rem;
}

.SingIN p{
    color: black;
    margin-right: 0.3rem;
}

.SingIN a{
    color: #FFFFFF;
    text-decoration-line: underline;
    transition: all 0.5s;
}

.SingIN a:hover{
    color: #FF4364;
    text-decoration-line: none;
    transition: all 0.5s;
}

@media (max-width: 1000px) {
    .blockImg{
        display: none;
    }

    .divForm{
        width: 100%;
    }

    .FormContain::after{
        display: none;
    }

    .FormContain::before{
        display: none;
    }
}